@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto:400,700&display=swap&subset=latin-ext');

$main-color: #8daae5;
$special-font: 'pt sans', 'roboto', 'arial', sans-serif;
$normal-font:  'arial', sans-serif;

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}



html{
    font-size: 10px;
    background-color: $main-color;
    font-family: $normal-font;
}

.wrapper{
    // kontener
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    // pozycja i wielkość
    max-width: 1000px;
    // height: 100vh;
    margin: 0 auto;
    // wygląd
    font-size:2rem;
    background-color: white;
    box-shadow: 0 0 4px 0 black;
}

.logo{
    flex-basis: 200px;

   
    &__image{
        display: block;
        width: 100%;
    }
}

.search{
    // element elastyczny
    flex-grow: 1; 
    // kontener
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:799px) {
        flex-basis: 100%;
        order: -1;
    }
    &__input{
        flex-basis: 60%;
        height: 50%;
        max-height: 60px;
        min-height: 50px;
        margin-right: 2vh;
        padding: 0 10px;
        font-size: 1.4rem;
        &:focus{
            box-shadow: 0 0 2px 1px $main-color;
            font-weight: bold;
        }
    }
    &__btn{
        font-size: 1.4rem;
        height: 50%;
        max-height: 60px;
        min-height: 50px;
        padding: 0 10px;
        border: 2px solid black; 
        background-color: white;
        text-transform: uppercase;
        letter-spacing: 2px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background-color: black;
            color: white;
        }
    }
}

.settings{
    display: flex;
    padding: 0 30px 0 50px;
    align-items: center;
    @media (max-width:799px) {
        flex-grow: 1;
        justify-content: flex-end;
    }
    &__icon-link{
        margin: 0 10px;
        font-size: 3rem;
        color: gray;
        &:hover{
            color: black;
        }
    }

}

.menu{
    flex-basis: 100%;
    background-color: black;
    font-family: $special-font;
    height: 70px;
    margin-top: 10px;
    padding: 15px 0 15px 80px;
    &__list{
        list-style: none;
        display: flex;
    }
    &__item{
        margin: 0 20px;
        font-size: 2rem;
        text-transform: uppercase;
        line-height: 4rem;
        &:hover{
            border-bottom: 2px yellow solid;
            
        }
        &:nth-last-child(1){
            margin-left: auto;
            border: 2px solid gray;
            
            &:hover{
               border-color: yellow; 
               
            }
            .menu__link{
                padding: 0 22px;
                &:hover{
                    color: yellow;
                }
            }
        }
    }
    &__link{
        display: block;
        color: white;
        text-decoration: none;
        
    }
}

.article{
    padding: 30px 50px;
    color: #333;
    text-align: center;

    &--small{
        padding: 20px 50px;
    }
    &__image{
        display: block;
        width: 100%;
    }

    &__title{
        font-family: $special-font;
        text-transform: uppercase;
        font-size: 3rem;
        padding: 35px 0 15px;
        .article--small &{
            padding: 25px 0 10px;
            font-size: 1.8rem;
            background-color: $main-color;
        }
    }

    &__intro{
        line-height:2px;
        font-size: 1.6rem;
    }

    &__btn{
        display: block;
        width: 50%;
        min-width: 200px;
        font-size: 1.8rem;
        border: 2px solid black;
        padding: 6px 12px;
        margin: 10px auto;
        background-color: $main-color;
        color: black;
        text-decoration: none;
        &:hover{
            background-color: white;
        }
    }
}

.main-articles{
    flex-basis: 100%;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    &__intro{
        flex-basis: 100%;
        padding: 10px 0;
        background-color: rgba(0,0,0, 0.2);
        margin: 60px 0 30px;
        text-align: center;
        font-size: 4.4rem;
        letter-spacing: 2px;
    }
    .article{
        flex-basis: 50%;
        @media (max-width:799px)  {
            flex-basis: 100%;
        }
    }
}

.article-list{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &__article{
        flex-basis: 30%;
        // flex-grow: 1;
        @media (max-width:1023px) {
            flex-basis: 45%;
        }
        @media (max-width:799px) {
            flex-basis: 95%;
        }
    }
}

.footer{
    flex-basis: 100%;
    background-color: $main-color;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    .sm-links{
        flex-basis: 30%;
    }
}

.sm-links{
    font-family: $special-font;
    padding: 20px;
    &--darken{
        background-color: darken($main-color, 25%);
    }
   &__title{
    margin: 20px 0 40px;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 400;
   } 
   &__item{
    text-indent: 40px;
    font-size: 1.8rem
   }
}